$dark-text-color: #253347;
$light-text-color: #5E6E85;
$borders: #d8e2e7;
$blue: #345ff6;
$heading-XL: 64px;
$heading-L: 48px;
$heading-M: 24px;
$heading-S: 20px;
$paragraph-size: 16px;
$paragraph-small: 14px;